<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ida:Tenant" value="TMOAAD.onmicrosoft.com" />
    <add key="ida:ClientId" value="c5bc8a56-332c-4041-a98e-9cf98ed52770" />
    <add key="ida:RedirectUri" value="https://TodoListClient" />
    <add key="todo:TodoListResourceId" value="https://TMOAAD.onmicrosoft.com/TodoListService-ManualJwt" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/be413eec-6262-4083-97c8-8c2a817c2fe1" />
    <add key="todo:TodoListBaseAddress" value="https://localhost:44324" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>